@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

:root {
    --primary-color: #1B98E0;
    --secondary-color: #59c3c3;
    --text-dark: #333;
    --text-light: #ebebeb;
    --primary-font: Arial, Helvetica, sans-serif;
    --secondary-font: 'Patrick Hand', cursive;
}

.main_title {
    color: black;
}

body {
    font-family: var(--primary-font);
    color: var(--text-dark);
    background-color: var(--text-light);
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

header, main, footer {
    padding: 1em;
}

h1, h2 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1em;
}

header img {
    width: 50px;
    height: auto;
    margin-right: 0.5em;
}

header h1 {
    margin: 0;
    font-family: var(--secondary-font);
    color: var(--primary-color);
}

.search-form {
    display: flex;
    align-items: center;
    margin: 1em 0;
    position: relative;
    width: 100%; 
}

.search-form input {
    flex-grow: 1;
    padding: 0.5em;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding-right: 2.5em; 
}

.search-form .search-button {
    background: none;
    border: 1px solid black; 
    border-radius: 5px; 
    position: absolute;
    right: 0; 
    top: 50%; 
    transform: translateY(-50%);
    cursor: pointer;
    padding: 0.2em;
}

.search-form .search-button img {
    width: 20px; 
    height: auto;
}

.search-form button:hover {
    background-color: var(--secondary-color);
}

hr {
    border: 0;
    border-top: 1px solid black;
    width: 100%;
    margin: 1em 0;
}

.recipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em 0;
    border: 1px solid black;
    border-radius: 10px;
    padding: 1em; 
}

.recipe img {
    order: 1;
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
}

.recipe .type {
    order: 2;
    font-family: 'Times New Roman', Times, serif; 
    color: black; 
    border: 1px solid black;
    padding: 5px; 
    align-self: flex-start;
}

.recipe h2 {
    order: 3;
    margin: 0.5em 0;
    align-self: flex-start;
}

.recipe .rating {
    order: 4;
    display: flex;
    align-items: center;
    margin: 0.5em 0;
    align-self: flex-start;
}

.recipe .rating .icon-star,
.recipe .rating .icon-star-empty {
    font-size: 1.5em;
    color: var(--primary-color);
}

.recipe p {
    display: none; 
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    font-size: 0.8em;
    color: var(--text-dark);
    padding: 1em;
}

footer p {
    margin: 0.5em 0;
}

footer .social {
    display: flex;
    justify-content: flex-end;
    gap: 1em;
    margin: 1em 0;
    order: 2;
    width: auto;
    height: auto;
}

footer .social img {
    width: 24px;
    height: auto;
}

footer .attribution {
    font-size: 1em;
    order: 1;
}

@media (max-width: 600px) {
    footer {
        flex-direction: column;
        align-items: center;
    }

    footer .social {
        order: 1;
        margin-bottom: 10px;
    }

    footer .attribution {
        order: 2;
    }
}

/* Breakpoint at 600px */
@media (min-width: 600px) {
    .recipe {
        display: flex;
        flex-direction: row; 
        align-items: flex-start;
        margin: 1em 0;
        border: 1px solid black;
        border-radius: 10px;
        padding: 1em; 
    }
    
    .recipe img {
        order: 1; 
        max-width: 300px;
        height: auto;
        border-radius: 10px;
        margin-right: 1em;
    }
    
    .recipe .content {
        display: flex;
        flex-direction: column;
        order: 2;
    }
    
    .recipe .type {
        order: 1; 
        font-family: 'Times New Roman', Times, serif; 
        color: black; 
        border: 1px solid black;
        padding: 5px; 
        align-self: flex-start;
    }
    
    .recipe h2 {
        order: 2; 
        margin: 0.5em 0;
        align-self: flex-start;
    }
    
    .recipe .rating {
        order: 3;
        display: flex;
        align-items: center;
        margin: 0.5em 0;
        align-self: flex-start;
    }
    
    .recipe p {
        order: 4; 
        display: block; 
        max-width: 400px;
        margin-left: 0;
    }
}

/* Breakpoint at 960px */
@media (min-width: 960px) {
    .recipe {
        max-width: 960px; 
        margin: 0 auto; 
    }
}

/* Breakpoint for less than 600px */
@media (max-width: 600px) {
    .recipe {
        display: flex;
        flex-direction: column;
        align-items: center; 
        margin: 1em 0;
        border: 1px solid black;
        border-radius: 10px;
        padding: 1em; 
    }
    
    .recipe img {
        order: 1;
        width: 100%;
        max-width: 300px;
        height: auto;
        border-radius: 10px;
        margin-bottom: 1em;
    }
    
    .recipe .type {
        order: 2; 
        font-family: 'Times New Roman', Times, serif; 
        color: black; 
        border: 1px solid black;
        padding: 5px; 
        align-self: flex-start;
    }
    
    .recipe h2 {
        order: 3; 
        margin: 0.5em 0;
        align-self: flex-start;
    }
    
    .recipe .rating {
        order: 4; 
        display: flex;
        align-items: center;
        margin: 0.5em 0;
        align-self: flex-start;
    }
    
    .recipe p {
        order: 5; 
        display: block; 
        max-width: 400px;
        margin-left: 0;
    }
}
