@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

:root {
    --primary-color: #52489c;
    --secondary-color: #59c3c3;
    --accent-color: #ffffff;
    --text-dark: #333;
    --text-light: #ebebeb;
    --primary-font: Arial, Helvetica, sans-serif;
    --secondary-font: 'Mooli', sans-serif;
}

body {
    font-family: var(--primary-font);
    font-size: 1.2em;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: var(--text-dark);
}

h1, h2 {
    font-family: var(--secondary-font);
}

a:link,
a:visited {
    color: var(--accent-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header, footer {
    background-color: var(--primary-color);
    color: var(--text-light);
    text-align: center;
    padding: 1em 0;
}

header h1 {
    margin: 0;
}

footer p {
    margin: 0;
}

/* Navigation styles */
nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none; /* Hide menu items by default */
}

nav ul.show {
    display: block; /* Show menu items when .show is added */
}

nav li {
    margin: 0.5em 0;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

/* For Gallery images */
.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    justify-items: center; 
}

.gallery img {
    width: 250px;
    height: 250px;
}

.menu {
    display: block;
    color: var(--accent-color);
    font-size: 1.2em;
    margin-bottom: 1em;
    text-align: center;
}

@media (max-width: 700px) {
    nav ul {
        display: none; /* Hide menu items by default */
    }

    nav ul.show {
        display: block; /* Show menu items when .show is added */
    }
}

@media (min-width: 701px) and (max-width: 1000px) {
    nav ul {
        display: none; /* Hide menu items by default */
    }

    nav ul.show {
        display: block; /* Show menu items when .show is added */
    }
}

@media (min-width: 1001px) {
    .menu {
        display: none; /* Hide the menu button on large screens */
    }

    nav ul {
        display: flex; /* Show menu items by default on large screens */
        flex-direction: row;
        gap: 1em;
    }

    nav ul.show {
        display: flex; /* Ensure menu items are shown when .show is added */
    }
}

/* Switch to two columns at 700px */
@media screen and (min-width: 700px) {
    .gallery {
        grid-template-columns: 1fr 1fr; 
    }
}

/* Switch to three columns at 1000px */
@media screen and (min-width: 1000px) {
    .gallery {
        grid-template-columns: 1fr 1fr 1fr; 
    }

    nav ul {
        display: flex;
        flex-direction: row;
        gap: 1em;
    }

    .menu {
        display: none; 
    }
}

main h2 {
    text-align: center;
    margin-bottom: 1em;
    width: 100%; 
}
