body {
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 900px;
    height: 900px;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #000;
}

header h1 {
    font-size: 2em;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 50px;
    font-weight: normal;
}

.subtitle {
    font-size: .8em;
    color: #006EB6;
    text-align: center;
    margin-bottom: -20px;
    letter-spacing: 3px;
    font-weight: normal;
}

ol > li {
    list-style-type: none;
}
main p {
    text-align: left;
    margin-bottom: 10px;
    margin-left: 175px;
    margin-right: 175px;
}

.intro {
    border-top: .1px solid #000000;
    padding-top: 50px;
}
.italicized-text {
    font-style: italic;
}

main ol {
    padding-left: 30px;
    margin-bottom: 50px;
}
ol li ol li {
    margin-bottom: 20px;
    list-style-type: decimal;
    margin-left: 150px;
    margin-right: 150px;
}
footer {
    text-align: center;
    margin-top: 15px;
}

footer img {
    width: 150px;
    height: auto;
}


/* This is for dark mode*/

body.dark {
    background-color: #333;
    color: white;
}

body.dark .content {
    background-color: #333;
    color: white;
}

body.dark .subtitle {
    text-align: center;
    margin-bottom: -5px;
    letter-spacing: 3px;
    font-weight: normal;
    font-size: .8em;
    color: #4F9ACF;
}
body.dark header, body.dark main, body.dark footer {
    background-color: #333;
    color: white;
}

body.dark ol, body.dark p {
    color: white;
}
body.dark footer img {
    width: 125px;
    height: auto;
}
body.dark .intro {
    border-top: .1px solid #ffffff;
}
